## **Packages**

In [1]:
# packages
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from datetime import date, datetime
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lit
from hdfs import InsecureClient
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt #ê·¸ë˜í”„ íŒ¨í‚¤ì§€ ëª¨ë“ˆ ë“±ë¡
%matplotlib inline

In [2]:
# matplotlib í•œê¸€í°íŠ¸ 
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # ë§¥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # ìœˆë„ìš°
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    rc('font', family='D2Coding')
       
# rc('font', family='NanumGothic') # ë‚˜ëˆ”í°íŠ¸ ì‚¬ìš©ì‹œ

## **DWì— ìˆëŠ” Data ì‚¬ìš©í•˜ê¸° ìœ„í•œ Hdfs í´ë¼ì´ì–¸íŠ¸ ê°ì²´ ìƒì„±**

In [3]:
client = InsecureClient('http://localhost:9870', user='lab09')

## **Data ë¶ˆëŸ¬ì˜¤ê¸°**
- ê´€ê´‘ì§€ í‰ì  ë°ì´í„° = tour_ratings.json

In [4]:
keywords = spark.read.json('/raw_data/tour_keywords.json', encoding='utf-8')

In [5]:
keywords.show()

+-------------+-------------+-------------+--------------------------------+-----+
|Top_Keyword_1|Top_Keyword_2|Top_Keyword_3|               Tourist_Spot_Name|index|
+-------------+-------------+-------------+--------------------------------+-----+
|    adventure|       joyful|          art|                    (ì£¼)êµë³´ë¬¸ê³ |    1|
|    tradition|     cultural|    adventure|            1.21 ë¬´ì¥ê³µë¹„ ì¹¨íˆ¬ë¡œ|    2|
|       joyful|    adventure|          art|           2024 ì½”ë¦¬ì•„ê·¸ëœë“œì„¸ì¼|    3|
|    adventure|       joyful|     cultural|   24ì‹œ ë§ˆë¦°ë‚šì‹œ(ì „ê³¡í•­ 24 ë§ˆ...|    4|
|          art|     cultural|       joyful|                        93ë®¤ì§€ì—„|    5|
|       joyful|          art|     cultural|                     CICA ë¯¸ìˆ ê´€|    6|
|          art|    tradition|       joyful|    Cì•„íŠ¸ë®¤ì§€ì—„(ìˆ²ì†ì˜ ë¯¸ìˆ ê³µì›)|    7|
|    tradition|       nature|     cultural|                    DMZ ë§ˆë£¨ìº í•‘|    8|
|     cultural|       nature|    adventure|                    DMZ ìƒìƒëˆ„ë¦¬|    9|
|    tradition|       joyful|    adventure|                       HJê¸€ë¨í•‘2|   10|
|     cultural|    tradition|       joyful|                       JTNì•„íŠ¸í™€|   11|
|    tradition|    adventure|       joyful|  K-ì¼ëŸ¬ìŠ¤íŠ¸ë ˆì´ì…˜í˜ì–´ ì„œìš¸ 2024|   12|
|    adventure|       joyful|    tradition|           K-í•¸ë“œë©”ì´ë“œí˜ì–´ 2024|   13|
|          art|     cultural|    adventure|             KT&G ìƒìƒë§ˆë‹¹(í™ëŒ€)|   14|
|          art|     cultural|       joyful|         KT&Gìƒìƒë§ˆë‹¹ ëŒ€ì¹˜ì•„íŠ¸í™€|   15|
|    adventure|          art|       joyful|                      MUSEUM 209|   16|
|          art|    tradition|       nature|                     Mì»¨í…œí¬ëŸ¬ë¦¬|   17|
|    adventure|          art|    tradition|                            TINC|   18|
|          art|    adventure|       joyful|                        UMê°¤ëŸ¬ë¦¬|   19|
|    adventure|       joyful|    tradition|WASBE ì„¸ê³„ê´€ì•…ì»¨í¼ëŸ°ìŠ¤ ê²½ê¸° ê´‘ì£¼|   20|
+-------------+-------------+-------------+--------------------------------+-----+
only showing top 20 rows

## **âœ… í™•ì¸**

In [6]:
# ê´€ê´‘ì§€ ì •ë³´ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
travel_data = spark.read.json('/dw_data/travel_data_preprocessed.json', encoding='utf-8')
travel_data_pd = travel_data.toPandas()
travel_data_pd.head()
travel_data_pd.info()

,index,ê°œìš”,ê°œì¥ê¸°ê°„,ê³µì—°ì‹œê°„,ê´€ê´‘ì§€ ë¶„ë¥˜,ê´€ëŒì†Œìš”ì‹œê°„,ëª…ì¹­,ë¶„ë¥˜,ìƒì„¸ì •ë³´,ì‰¬ëŠ”ë‚,...,ì´ìš©ìš”ê¸ˆ,ì…ì¥ë£Œ,ì „í™”ë²ˆí˜¸,ì£¼ì†Œ,ì£¼ì°¨ì‹œì„¤,ì£¼ì°¨ìš”ê¸ˆ,ì§€ì—­,ì²´í—˜ì•ˆë‚´,í–‰ì‚¬ì‹œì‘ì¼,í–‰ì‚¬ì¢…ë£Œì¼
0,1,"êµë³´ë¬¸ê³ ê´‘í™”ë¬¸ì ì€ êµ­ë¯¼êµìœ¡ ì§„í¥ì˜ ì‹¤ì²œì êµ¬í˜„, ë…ì„œì¸êµ¬ ì €ë³€ í™•ëŒ€ë¥¼ í†µí•œ êµ­ë¯¼ì •...",None,None,ë¬¸í™”ì‹œì„¤,None,(ì£¼)êµë³´ë¬¸ê³,ë¬¸í™”ì‹œì„¤,None,ì„¤/ì¶”ì„ ë‹¹ì¼,...,ë¬´ë£Œ,None,None,ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ì¢…ë¡œ 1(ì¢…ë¡œ1ê°€),ì£¼ì°¨ ê°€ëŠ¥,ìœ ë£Œ (íšŒì›ì—¬ë¶€/êµ¬ë§¤ê¸ˆì•¡ì— ë”°ë¼ ë¬´ë£Œì£¼ì°¨í—¤íƒ ì ìš©),ì„œìš¸,None,NaN,NaN
1,2,â€» ë¯¼í†µì´ˆì†Œì— ì‹ ë¶„ì¦ ì œì‹œí•˜ì—¬ ì¶œì… ê°€ëŠ¥ (25ì¸ ì´ìƒ ì¶œì…ì‹œ ì¼ì£¼ì¼ ì „ ì‹ ì²­ì„œ ì œ...,None,None,ì¸ë¬¸ê´€ê´‘ì§€,None,1.21 ë¬´ì¥ê³µë¹„ ì¹¨íˆ¬ë¡œ,ì—­ì‚¬ê´€ê´‘ì§€,í™”ì¥ì‹¤:ìˆìŒ\n,ë§¤ì£¼ í™”ìš”ì¼,...,None,None,None,ê²½ê¸°ë„ ì—°ì²œêµ° ì¥ë‚¨ë©´ ë°˜ì •ë¦¬ 294,None,None,ê²½ê¸°ë„,None,NaN,NaN
2,3,ì½”ë¦¬ì•„ê·¸ëœë“œì„¸ì¼ì€ ê´€ê´‘ê³¼ í•œë¥˜ê°€ ìœµë³µí•©ëœ ì™¸êµ­ì¸ ëŒ€ìƒì˜ í•œêµ­ ëŒ€í‘œ ì‡¼í•‘ë¬¸í™”ê´€ê´‘ì¶•ì œë¡œ...,None,None,ì¶•ì œê³µì—°í–‰ì‚¬,None,2024 ì½”ë¦¬ì•„ê·¸ëœë“œì„¸ì¼,ê³µì—°í–‰ì‚¬,í–‰ì‚¬ì†Œê°œ:ì½”ë¦¬ì•„ê·¸ëœë“œì„¸ì¼ì€ ê´€ê´‘ê³¼ í•œë¥˜ê°€ ìœµë³µí•©ëœ ì™¸êµ­ì¸ ëŒ€ìƒì˜ í•œêµ­ ëŒ€í‘œ ì‡¼í•‘ë¬¸í™”...,None,...,ë¬´ë£Œ,None,070-7787-4242,ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ì¸ì‚¬ë™5ê¸¸ 29 íƒœí™”ë¹Œë”©802í˜¸,None,None,ì„œìš¸,None,2.0240111E7,2.0240229E7
3,4,"ê²½ê¸°ë„ í™”ì„±ì‹œ ì„œì‹ ë©´ì— ìœ„ì¹˜í•´ ìˆëŠ” 24ì‹œ ë§ˆë¦° ë‚šì‹œëŠ” ì£¼ë³€ì— ì „ê³¡í•­, íƒ„ë„í•­, ì œ...",None,None,ë ˆí¬ì¸,None,24ì‹œ ë§ˆë¦°ë‚šì‹œ(ì „ê³¡í•­ 24 ë§ˆë¦°ë‚šì‹œ),ë ˆí¬ì¸,"í¬ì¸íŠ¸ì•ˆë‚´:\nì´ìš©ìš”ê¸ˆ:ì„ ë°•ë³„ ìƒì´ í™ˆí˜ì´ì§€ ì°¸ì¡°\në³´ìœ ì¥ë¹„: 22ì¸ìŠ¹, 21ì¸ìŠ¹,...",None,...,None,None,None,ê²½ê¸°ë„ í™”ì„±ì‹œ ì„œì‹ ë©´ ì „ê³¡í•­ë¡œ 317,None,None,ê²½ê¸°ë„,None,NaN,NaN
4,5,ê·¸ë¦¼ì„ ì—´ë§í•˜ë˜ ì²­ë…„ì€ ì²« ì›”ê¸‰ 3000ì›ì„ ìª¼ê°œ ê·¸ë¦¼ í•œ ì ì„ êµ¬ì…í–ˆë‹¤. ë‹¹ì‹œ ê°€...,None,None,ë¬¸í™”ì‹œì„¤,None,93ë®¤ì§€ì—„,ë¬¸í™”ì‹œì„¤,None,"ë§¤ì£¼ ì›”ìš”ì¼(ë‹¨,ì›”ìš”ì¼ì´ ê³µíœ´ì¼ì¸ ê²½ìš° ì •ìƒ ê°œê´€,í•´ë‹¹ì£¼ í™”ìš”ì¼ íœ´ê´€)",...,ê¸°ê°„ì—ë”°ë¼ ë³€ë™,None,None,ê²½ê¸°ë„ íŒŒì£¼ì‹œ íƒ„í˜„ë©´ í—¤ì´ë¦¬ë§ˆì„ê¸¸ 59-58í—¤ì´ë¦¬ì˜ˆìˆ ë§ˆì„ G-31,ì£¼ì°¨ê°€ëŠ¥,None,ê²½ê¸°ë„,None,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3504 entries, 0 to 3503
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          3504 non-null   int64
 1   ê°œìš”             3501 non-null   object
 2   ê°œì¥ê¸°ê°„           577 non-null    object
 3   ê³µì—°ì‹œê°„           30 non-null     object
 4   ê´€ê´‘ì§€ ë¶„ë¥˜         3504 non-null   object
 5   ê´€ëŒì†Œìš”ì‹œê°„         240 non-null    object
 6   ëª…ì¹­             3504 non-null   object
 7   ë¶„ë¥˜             3504 non-null   object
 8   ìƒì„¸ì •ë³´           3038 non-null   object
 9   ì‰¬ëŠ”ë‚             2304 non-null   object
 10  ì• ì™„ë™ë¬¼ ë™ë°˜ ê°€ëŠ¥ ì—¬ë¶€  3504 non-null   object
 11  ìš°í¸ë²ˆí˜¸           3400 non-null   object
 12  ìœ ëª¨ì°¨ ëŒ€ì—¬ ì—¬ë¶€      3504 non-null   object
 13  ì´ìš©ì‹œê°„           2678 non-null   object
 14  ì´ìš©ì‹œê¸°           11 non-null     object
 15  ì´ìš©ìš”ê¸ˆ           670 non-null    object
 16  ì…ì¥ë£Œ            22 non-null     object
 17  ì „í™”ë²ˆí˜¸           104 non-null    object
 18  ì£¼ì†Œ             3502 non-null   object
 19  ì£¼ì°¨ì‹œì„¤           1933 non-null   object
 20  ì£¼ì°¨ìš”ê¸ˆ           1168 non-null   object
 21  ì§€ì—­             3504 non-null   object
 22  ì²´í—˜ì•ˆë‚´           381 non-null    object
 23  í–‰ì‚¬ì‹œì‘ì¼          3504 non-null   object
 24  í–‰ì‚¬ì¢…ë£Œì¼          3504 non-null   object
dtypes: int64(1), object(24)
memory usage: 684.5+ KB

In [7]:
# keywords data pandas
keywords_pd = keywords.toPandas()
keywords_pd.head()
keywords_pd.info()

  Top_Keyword_1 Top_Keyword_2 Top_Keyword_3      Tourist_Spot_Name  index
0     adventure        joyful           art                (ì£¼)êµë³´ë¬¸ê³       1
1     tradition      cultural     adventure          1.21 ë¬´ì¥ê³µë¹„ ì¹¨íˆ¬ë¡œ      2
2        joyful     adventure           art          2024 ì½”ë¦¬ì•„ê·¸ëœë“œì„¸ì¼      3
3     adventure        joyful      cultural  24ì‹œ ë§ˆë¦°ë‚šì‹œ(ì „ê³¡í•­ 24 ë§ˆë¦°ë‚šì‹œ)      4
4           art      cultural        joyful                  93ë®¤ì§€ì—„      5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3504 entries, 0 to 3503
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Top_Keyword_1      3504 non-null   object
 1   Top_Keyword_2      3504 non-null   object
 2   Top_Keyword_3      3504 non-null   object
 3   Tourist_Spot_Name  3504 non-null   object
 4   index              3504 non-null   int64
dtypes: int64(1), object(4)
memory usage: 137.0+ KB

In [8]:
mismatched_rows = travel_data_pd[~(travel_data_pd[['index', 'ëª…ì¹­']]
                                   .apply(tuple, axis=1)
                                   .isin(keywords_pd[['index', 'Tourist_Spot_Name']]
                                         .apply(tuple, axis=1)))]

In [9]:
mismatched_rows

Empty DataFrame
Columns: [index, ê°œìš”, ê°œì¥ê¸°ê°„, ê³µì—°ì‹œê°„, ê´€ê´‘ì§€ ë¶„ë¥˜, ê´€ëŒì†Œìš”ì‹œê°„, ëª…ì¹­, ë¶„ë¥˜, ìƒì„¸ì •ë³´, ì‰¬ëŠ”ë‚ , ì• ì™„ë™ë¬¼ ë™ë°˜ ê°€ëŠ¥ ì—¬ë¶€, ìš°í¸ë²ˆí˜¸, ìœ ëª¨ì°¨ ëŒ€ì—¬ ì—¬ë¶€, ì´ìš©ì‹œê°„, ì´ìš©ì‹œê¸°, ì´ìš©ìš”ê¸ˆ, ì…ì¥ë£Œ, ì „í™”ë²ˆí˜¸, ì£¼ì†Œ, ì£¼ì°¨ì‹œì„¤, ì£¼ì°¨ìš”ê¸ˆ, ì§€ì—­, ì²´í—˜ì•ˆë‚´, í–‰ì‚¬ì‹œì‘ì¼, í–‰ì‚¬ì¢…ë£Œì¼]
Index: []

[0 rows x 25 columns]

In [10]:
keywords_pd[(keywords_pd['index'] >= 2095) & (keywords_pd['index'] < 2196)]

     Top_Keyword_1 Top_Keyword_2 Top_Keyword_3 Tourist_Spot_Name  index
2094        nature      cultural        joyful          ë…¸ì„ê³µì›(ì¸ì²œ)   2095
2095        nature     adventure           art             ë…¸ì„ìº í•‘ì¥   2096
2096      cultural     tradition        nature          ë…¸ì‘í™ì‚¬ìš©ë¬¸í•™ê´€   2097
2097        nature     adventure     tradition             ë…¸ì ë´‰ê³µì›   2098
2098     adventure        joyful      cultural             ë…¸ì§„ë‚šì‹œí„°   2099
...            ...           ...           ...               ...    ...
2190     tradition        nature      cultural            ëŒë‹´ìº í•‘ê°€ë“    2191
2191     adventure        joyful           art             ëŒì²´ì†Œê·¹ì¥   2192
2192           art        joyful      cultural         ë™êµ­ëŒ€í•™êµ ë°•ë¬¼ê´€   2193
2193     adventure     tradition        nature         ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›   2194
2194     tradition      cultural        joyful           ë™ë„ì‚¬(ìš©ì¸)   2195

[101 rows x 5 columns]

In [11]:
travel_data_pd[['index', 'ëª…ì¹­']][(travel_data_pd['index'] >= 2095) & (travel_data_pd['index'] < 2196)]

      index         ëª…ì¹­
2094   2095   ë…¸ì„ê³µì›(ì¸ì²œ)
2095   2096      ë…¸ì„ìº í•‘ì¥
2096   2097   ë…¸ì‘í™ì‚¬ìš©ë¬¸í•™ê´€
2097   2098      ë…¸ì ë´‰ê³µì›
2098   2099      ë…¸ì§„ë‚šì‹œí„°
...     ...        ...
2190   2191     ëŒë‹´ìº í•‘ê°€ë“
2191   2192      ëŒì²´ì†Œê·¹ì¥
2192   2193  ë™êµ­ëŒ€í•™êµ ë°•ë¬¼ê´€
2193   2194  ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›
2194   2195    ë™ë„ì‚¬(ìš©ì¸)

[101 rows x 2 columns]

## **ğŸ‘ íŒŒì¼ ì €ì¥**

In [12]:
# hdfsì— ì €ì¥
keywords.coalesce(1).write.format('json').save('/dw_data/tour_keywords.json')